$primary: rgb(243, 203, 95);

$font-light: #fff;
$font-grey: rgb(115, 112, 112);
$font-dark: rgb(39, 37, 37);


$border-light: #fff;
$border-dark: rgb(0, 0, 0);

$background-light: rgb(250, 246, 246);
$background-dark: rgb(196, 193, 193);

$success: rgb(100, 239, 100);