.login-form{
    .actions{
        justify-content: space-between !important;

        .ui.basic.button {
            margin: 0%;
        }

        .ui.basic.submit {
            margin-right: 10px !important;
        }
    }
}